@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar__month-view__weekdays__weekday {
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFDE72;
  border: 5px solid white;
  font-size: 12px;
  font-weight: bold;
}

.react-calendar__navigation__label__labelText {
  font-size: 20px;
  font-weight: bold;  
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

#nprogress .bar {
  background: #ffdd00;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

#nprogress .peg {
  box-shadow: 0 0 10px #4caf50, 0 0 5px #ffdd00;
}

#nprogress .bar {
  height: 5px;
}